/* variaveis VAR */
:root {
    --bg-color: #191919;
    /*--bg-color: #0c0030;*/
    --second-bg-color: #1e0064;
    --text-color: white;
    --second-color: white;
    --main-color: #96088f;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --p-small-font: 0.9rem;

}

/* ESTILIZAÇÃO DE TODA A PAGINA */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


/* FONTE, FUNDO, E TAMANHO DO CORPO */
body {
    
    font-size: 15px;
    background-color: var(--bg-color);
    background-size: auto;
}

.show-button .button-up {
    display: flex;
}

.button-up {
    display: none;
    background-color: var(--main-color);
    border-radius: 10%;
    padding: 0.5rem 0.5rem;
    position: fixed;
    z-index: 1000;
    left: 3rem;
    top: 600px;

}

.button-up span {
    color: var(--text-color);
}

/* AQUI COMEÇA O MENU */
.center {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    margin: 0 auto;
    padding: 0 2%;
    z-index: 2;

}

.logo {
    flex-grow: 1;
    /* Permite que a logo ocupe o espaço restante */
    max-width: 200px;
    /* Define a largura máxima da logo */
}

.logo img {
    max-width: 100%;
    /* Garante que a imagem da logo se ajuste ao contêiner */
    height: auto;

    /* Permite que a altura seja ajustada automaticamente */
}

/* TAMANHO O CABEÇALHO */
.menu {
    width: auto;
    /* Permitir que o menu ocupe o espaço restante */
    margin-left: auto;
    /* Alinhar o menu à direita */
    display: flex;
    justify-content: flex-end;
    /* Alinhar os itens do menu à direita */
    align-items: center;
    /* Alinhar verticalmente os itens do menu */
}

.menu a {
    margin: 0 15px;
    /* Espaçamento entre os itens do menu */
    font-size: 20px;
    color: var(--text-color);
}

.menu a:hover {
    color: var(--main-color);
}


/* CORPO PRINCIPAL */

/* TAMANHO E POSIÇÃO DA PAGINA PRINCIPAL */
.home {
    display: flex;
    flex-direction: column; /* Empilhar os elementos verticalmente em dispositivos menores */
    align-items: center; /* Alinhar os elementos horizontalmente */
    padding: 5% 0;
}

.home {
    padding: 100px 20px;
    /* Adiciona um pouco de preenchimento aos lados para evitar que o texto fique muito próximo das bordas */
    text-align: justify;
    color: var(--text-color);
}

.home h2 {
    font-size: 2rem;
    text-shadow: var(--main-color) 2px 2px;
}

.home span {
    background-color: #96088f;
    padding: 0.2em 0.5em;
    border-radius: 10%;
}

.home h1 {
    font-size: 3rem;
    margin: 20px 0;
    text-shadow: var(--main-color) 2px 2px;
}

.home h3 {
    font-size: 2rem;
    margin: 10px 0;
    
}
.home h4{
    color: #a61f8c;
    font-size: 4rem;
    text-shadow: var(--bg-color) 2px 2px;
}
.links {
    display: flex; /* Exibir os links na mesma linha */
    padding: 3rem;
            
}

.home a {
    display: inline-block;
    font-size: 1rem;
    background-color: #96088f;
    text-shadow: black 2px 2px;
    color: white;
    padding: 30px 40px;
    text-decoration: none;
    margin-right: 6rem; /* Adiciona um espaço entre os botões */
    margin-left: 6rem;
    border-radius: 100%;
    
}

.home-img {
    position:static;
    max-width: 100%;
    bottom: 0%;
    /* Garante que a imagem seja responsiva */
    overflow: hidden; /* Oculta qualquer conteúdo que se estenda além da altura definida */
    
}
.home-img img {
    display: block;
    width: auto; /* Permite que a largura seja ajustada automaticamente */
    height: 100%; /* Preenche a altura da div .home-img */
    margin: 0 auto;
}


/* ESTILIZANDO SOBRE MIM */

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Torna o layout mais flexível */
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* Reduz o espaçamento entre os elementos */
    padding: 10% 2%;
}


/* ESTILIZANDO IMG SOBRE MIM */


.about-img img {
    max-width: 80%;
    /* Garante que a imagem seja responsiva */
    height: auto;
    border-radius: 30px;
    box-shadow: var(--main-color) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* ESTILIZANDO TEXTO SOBRE MIM */
.about-text {
    padding: 0 20px;
    /* Adiciona um pouco de preenchimento aos lados para evitar que o texto fique muito próximo das bordas */
    text-align: justify;
    color: var(--text-color);
}

.about-text h2 {
    font-size: 2.5rem;
    /* Reduz o tamanho da fonte para dispositivos menores */
    margin: 20px 0;
    /* Reduz a margem superior e inferior */
    text-align: center;
}

.about-text h4 {
    font-size: 1rem;
    /* Reduz o tamanho da fonte para dispositivos menores */
    margin: 10px 0;
    /* Reduz a margem superior e inferior */
}

.about-text a {
    font-size: 0.9rem;
    /* Reduz o tamanho da fonte para dispositivos menores */
    line-height: 1.5;
    margin-bottom: 2rem;
}

.about-text p {
    font-size: 0.9rem;
    /* Reduz o tamanho da fonte para dispositivos menores */
    line-height: 1.5;
    margin-bottom: 2rem;
}

.about-text span {
    color: #96088f;
}

/* Adicione media queries conforme necessário para estilos específicos de dispositivos móveis */


/* SKILLS DE PROGRAMAÇÃO */
.skills {
    background-color: var(--bg-color);
    padding: auto;
    padding-bottom: 4rem;
}

.skills-text {
    text-align: center;
    color: var(--text-color);
    padding-top: 4rem;
}

.skills-text-span {
    color: var(--main-color);
}

.skills-text-span h1 {
    color: var(--text-color);
}

.box-content {
    padding: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;

}

.skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-height: 300px;
    min-height: 200px;
    text-align: center;
    background: var(--main-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
    margin-left: 35px;
    margin-right: 35px;
    transition: transform 0.5s;

}

.skills-box:hover {
    transform: scale(1.05);
}

.skills-box h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

.box-icons {

    text-align: center;

}

.box-icons img {
    font-size: 30px;
    color: var(--second-color);
}

/* DIV PARA SEPARAR */

.space {
    border-style: groove;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: #fff;
}

/* PORTIFOLIO */
.prj-box {
    background-color: var(--bg-color);
    padding: auto;
    padding-bottom: 4rem;

}

.prj-text {
    text-align: center;
    color: var(--text-color);
    padding-top: 4rem;
}

.prj-text-span {
    color: var(--main-color);
}

.prj-text-span h1 {
    color: var(--text-color);
}

.prj-container {
    padding: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;

}

.prj-box-i {
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

}

.prj-box-i img {
    max-width: 350px;
    min-width: 100%;
    min-height: 375px;
    max-height: 375px;
    border-radius: 10px;
    transition: transform 1.5s;
}

.prj-box-i img:hover {
    transform: scale(1.5);
}


.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), var(--main-color));
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 0 40px;
    transition: height 0.5s;
}

.prj-box-i:hover .layer {
    overflow: visible;
    height: 100%;
}

.layer h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--text-color);
}

.layer p {
    color: var(--second-color);
    font-size: var(--p-small-font);
    line-height: 1.8;

}

.layer a {
    align-items: end;
    font-size: large;
}

.btn_acessar:hover {
    text-decoration: underline;
    color: aqua;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* RODAPÉ */
footer {
    padding: auto;
    border-style: groove;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: #fff;
}

.contact {
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);
}

.social {
    color: white;
    text-align: center;
    font-size: var(--p-font);

}

.social-buttons {
    margin: 20px;

}

.social-button {
    display: inline-block;
    margin: 10px;

}

.social-button img {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 60%;

}

.end {
    text-align: center;
}

.end a {
    text-align: right;
    color: #fff;
}

.end-end {
    padding: 1rem 1rem;
    color: var(--text-color);
    font-size: var(--p-font);
}

@media screen and (max-width: 767px) {

    /* Estilize o menu para ocupar a largura total */
    .menu {
        justify-content: center;
    }

    /* Reduza o tamanho do texto do menu */
    .menu a {
        font-size: 16px;
    }

    /* Ajuste o tamanho da logo */
    .logo {
        max-width: 150px;
    }

    /* Ajuste o posicionamento do texto na seção inicial */
    .home-text {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Dispositivos menores que 576px (smartphones em modo retrato) */
@media screen and (max-width: 575px) {

    /* Reduza o tamanho da fonte do cabeçalho */
    main h1 {
        font-size: 3rem;
    }

    /* Reduza o tamanho do texto de descrição da seção inicial */
    main h3 {
        font-size: 2rem;
    }

    /* Ajuste o posicionamento do texto na seção inicial */
    .home-text {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /* Ajuste o tamanho da logo para dispositivos móveis */
    .logo {
        max-width: 120px;
    }

    /* Ajuste o espaçamento entre os itens do menu para dispositivos móveis */
    .menu a {
        margin: 0 10px;
    }

}

/* Estilos para dispositivos menores que 992px (tablets e dispositivos móveis em modo paisagem) */
@media screen and (max-width: 991px) {

    /* Ajuste o posicionamento do texto na seção inicial */
    .home-text {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Estilos para dispositivos menores que 768px (dispositivos móveis em modo retrato) */
@media screen and (max-width: 767px) {

    /* Ajuste o posicionamento do texto na seção inicial */
    .home-text {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Estilos para dispositivos menores que 576px (smartphones em modo retrato) */
@media screen and (max-width: 575px) {

    /* Ajuste o posicionamento do texto na seção inicial */
    .home-text {
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}